<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Show Tracker: Home</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- custom stylesheet -->
    <link href="css/styles.css" rel="stylesheet" />
    <!-- Custom styles for this template 
    <link href="css/album.css" rel="stylesheet" /> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
  </head>

  
  <body>
    <%- include('common/header'); -%>

    <main role="main">
      
      
      
      <section class="jumbotron text-center bg-warning">
        <div class="container">
          <h1>Track the TV Shows You Love</h1>
          <p class="lead text-muted">Browse, Review and Manage.</p>
          <h2>
            Your favourite shows, <strong>your way</strong>
          </h2>
        </div>
      </section>
      
      
      <div id="div-home-image">
        <div class="row">
          <picture>
            <img id="home-image" src="images/crt_bench2.jpg" class="float-left" alt="Photo of a CRT TV" />
          </picture>
        </div>
      </div>      

    </main>

    <%- include('common/footer'); -%>
  </body>
</html>
