<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <!-- Page title shown on tab -->
      <title>Show Tracker: Login</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <!-- custom stylesheet -->
      <link href="css/styles.css" rel="stylesheet" />
      <!-- Custom styles for this template 
      <link href="css/album.css" rel="stylesheet" /> -->
    </head>
    <body>
      <!-- imports header from common folder -->
      <%- include('common/header'); -%>
      <div class="container">
        <!-- button to redirect user to form for adding a new show -->
        <a href="/add-user?"> <button type="button" class="btn btn-info">Create a new user</button> </a>
        <!-- page title -->
        <h1 class="text-center">Login</h1>
        <div class="row justify-content-md-center">
          <div class="col-">
            <!-- form posts data, on post page redirects to itself 
              (if valid login this redirects back to '/my-shows' due to code in 'my-show' controller,
              otherwise redirects to this page (invalid login))-->
            <form method="POST">
              <!-- labels and input fields are displayed for user to enter login data -->
              <!-- placeholder data is present in input boxes as an indicator to user -->
              <div class="form-group">                
                <label for="name">Email Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Enter Email"
                  name="email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <!-- data input type is password - hides values as they are inputted -->
                <input 
                  type="password" 
                  name="password" 
                  class="form-control" 
                  id="password"
                  placeholder="Enter Password"
                />
              </div>

              <!-- button to submit data to attempt user login -->
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>