body {
    background-color: rgb(175, 189, 204);
}

nav {
    text-align: center;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;  /* HERE. IS THIS RIGHT????*/
    vertical-align: middle;
}

#home-image {
    height: auto;
    width: 40%;

}

#div-home-image {
    color: rgb(175, 189, 204);
}

#edit-body {
    color: rgb(175, 189, 204);
}

